In [2]:
import pandas as pd
import geopandas as gpd
import json
import geojson
import requests
import csv 
import pprint

pp = pprint.PrettyPrinter()

In [7]:
#San Francisco

In [3]:
# download Assessor Data
assessor_url = 'https://data.sfgov.org/resource/wv5m-vpq2.csv'
assessor = pd.read_csv(assessor_url)
assessor.head()

,closed_roll_year,property_location,parcel_number,block,lot,volume_number,use_code,use_definition,property_class_code,property_class_code_definition,...,:@computed_region_6qbp_sg9q,:@computed_region_qgnn_b9vv,:@computed_region_26cr_cadq,:@computed_region_ajp5_b2md,:@computed_region_rxqg_mtj9,:@computed_region_yftq_j783,:@computed_region_jx4q_fizf,:@computed_region_bh8s_q3mv,:@computed_region_fyvs_ahh9,:@computed_region_p5aj_wyqh
0,2017,0000 2655 HYDE ST0W30,0026T256A,0026T,256A,1,COMM,Commercial Misc,TS,Timeshare,...,98.0,6.0,6.0,32.0,1.0,5.0,1.0,28858.0,32.0,1.0
1,2017,0455 0453 BUSH ST0000,0287019,0287,019,3,COMR,Commercial Retail,C,Commercial Stores,...,19.0,6.0,3.0,8.0,10.0,5.0,1.0,28857.0,6.0,1.0
2,2017,0000 0165 JEFFERSON ST0000,0013006A,0013,006A,1,COMR,Commercial Retail,C,Commercial Stores,...,99.0,6.0,3.0,23.0,10.0,3.0,1.0,308.0,23.0,1.0
3,2017,0000 2655 HYDE ST0W03,0026T373A,0026T,373A,1,COMM,Commercial Misc,TS,Timeshare,...,98.0,6.0,6.0,32.0,1.0,5.0,1.0,28858.0,32.0,1.0
4,2017,0000 2655 HYDE ST0303,0026T216B,0026T,216B,1,COMM,Commercial Misc,TS,Timeshare,...,98.0,6.0,6.0,32.0,1.0,5.0,1.0,28858.0,32.0,1.0

In [13]:
assessor.describe()

,closed_roll_year,volume_number,year_property_built,number_of_bathrooms,number_of_bedrooms,number_of_rooms,number_of_stories,number_of_units,lot_depth,lot_frontage,...,:@computed_region_6qbp_sg9q,:@computed_region_qgnn_b9vv,:@computed_region_26cr_cadq,:@computed_region_ajp5_b2md,:@computed_region_rxqg_mtj9,:@computed_region_yftq_j783,:@computed_region_jx4q_fizf,:@computed_region_bh8s_q3mv,:@computed_region_fyvs_ahh9,:@computed_region_p5aj_wyqh
count,"1,000.00","1,000.00",0.00,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00",...,996.00,996.00,995.00,995.00,995.00,995.00,996.00,999.00,995.00,996.00
mean,"2,017.00",1.16,nan,1.34,0.21,5.73,0.47,1.87,4.01,0.00,...,93.80,5.99,5.67,30.71,2.11,4.93,1.06,"26,743.76",30.69,1.06
std,0.00,1.29,nan,13.62,0.97,44.39,1.64,15.79,14.97,0.00,...,18.50,0.09,1.03,4.08,2.95,0.74,0.73,"7,480.93",4.24,0.71
min,"2,017.00",1.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,7.00,4.00,3.00,6.00,1.00,3.00,1.00,308.00,4.00,1.00
25%,"2,017.00",1.00,nan,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,98.00,6.00,6.00,32.00,1.00,5.00,1.00,"28,858.00",32.00,1.00
50%,"2,017.00",1.00,nan,0.00,0.00,0.00,0.00,1.00,0.00,0.00,...,98.00,6.00,6.00,32.00,1.00,5.00,1.00,"28,858.00",32.00,1.00
75%,"2,017.00",1.00,nan,0.00,0.00,0.00,0.00,1.00,0.00,0.00,...,98.00,6.00,6.00,32.00,1.00,5.00,1.00,"28,858.00",32.00,1.00
max,"2,017.00",38.00,nan,343.00,14.00,864.00,27.00,343.00,87.50,0.00,...,107.00,6.00,11.00,39.00,11.00,15.00,10.00,"29,490.00",41.00,10.00

In [4]:
# download Land Use Data 2016
land_use_url = 'https://data.sfgov.org/resource/a2rp-pwkh.csv'
land_use = pd.read_csv(land_use_url)
land_use.head()

,objectid,blklot,the_geom,mapblklot,block_num,lot_num,from_st,to_st,street,st_type,...,total_uses,landuse,cie,med,mips,retail,pdr,visitor,shape_leng,shape_area
0,1,0026013,MULTIPOLYGON (((-122.42108072666898 37.8047751...,0026013,0026,013,838.0,842.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,327.786363,3864.061762
1,2,0026014,MULTIPOLYGON (((-122.42117903244349 37.8047629...,0026014,0026,014,844.0,844.0,BAY,ST,...,3471,MIXRES,0,0,3471,0,0,0,320.352522,3361.025351
2,3,0026015,MULTIPOLYGON (((-122.42126451502638 37.8047522...,0026015,0026,015,848.0,850.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,319.046088,3272.033196
3,4,0026016,MULTIPOLYGON (((-122.42134572244261 37.8047421...,0026016,0026,016,860.0,862.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,279.353002,4570.767667
4,5,0026017,MULTIPOLYGON (((-122.4215252467804 37.80471971...,0026017,0026,017,870.0,872.0,BAY,ST,...,0,RESIDENT,0,0,0,0,0,0,294.354339,5225.823735

In [7]:
land_use.describe()

,objectid,from_st,to_st,resunits,bldgsqft,yrbuilt,total_uses,cie,med,mips,retail,pdr,visitor,shape_leng,shape_area
count,1000.00000,982.000000,982.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,511.85600,949.503055,957.960285,4.466000,6910.703000,1806.671000,3671.537000,298.710000,128.593000,1977.363000,956.71000,47.814000,262.347000,290.181858,6399.856351
std,473.00254,809.774650,823.269482,13.654424,21511.275465,468.030257,14035.781531,2003.860992,1124.511807,9495.755121,4793.03307,679.483129,2892.642324,210.690905,15087.989253
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,36.946403,43.961731
25%,250.75000,291.000000,294.250000,1.000000,1547.000000,1907.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,178.157023,1544.977926
50%,500.50000,763.000000,765.500000,2.000000,2829.500000,1912.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,224.333913,2360.382232
75%,750.25000,1404.000000,1417.250000,4.000000,4584.750000,1940.000000,2184.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,324.739300,4067.349873
max,12356.00000,3000.000000,5670.000000,180.000000,249352.000000,2014.000000,212492.000000,30643.000000,26247.000000,159265.000000,62236.00000,19787.000000,66063.000000,1425.361548,123023.562384

In [8]:
pd.options.display.float_format = '{:20,.2f}'.format

In [9]:
land_use.describe()

,objectid,from_st,to_st,resunits,bldgsqft,yrbuilt,total_uses,cie,med,mips,retail,pdr,visitor,shape_leng,shape_area
count,"1,000.00",982.00,982.00,"1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00","1,000.00"
mean,511.86,949.50,957.96,4.47,"6,910.70","1,806.67","3,671.54",298.71,128.59,"1,977.36",956.71,47.81,262.35,290.18,"6,399.86"
std,473.00,809.77,823.27,13.65,"21,511.28",468.03,"14,035.78","2,003.86","1,124.51","9,495.76","4,793.03",679.48,"2,892.64",210.69,"15,087.99"
min,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,36.95,43.96
25%,250.75,291.00,294.25,1.00,"1,547.00","1,907.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,178.16,"1,544.98"
50%,500.50,763.00,765.50,2.00,"2,829.50","1,912.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,224.33,"2,360.38"
75%,750.25,"1,404.00","1,417.25",4.00,"4,584.75","1,940.00","2,184.00",0.00,0.00,0.00,0.00,0.00,0.00,324.74,"4,067.35"
max,"12,356.00","3,000.00","5,670.00",180.00,"249,352.00","2,014.00","212,492.00","30,643.00","26,247.00","159,265.00","62,236.00","19,787.00","66,063.00","1,425.36","123,023.56"

In [10]:
land_use.loc[land_use.resunits>0].groupby('resunits').total_uses.describe()

,count,mean,std,min,25%,50%,75%,max
resunits,,,,,,,,
1,118.00,370.80,990.55,0.00,0.00,0.00,0.00,"5,319.00"
2,205.00,497.04,"1,289.71",0.00,0.00,0.00,0.00,"10,553.00"
3,201.00,861.59,"1,713.72",0.00,0.00,0.00,"1,438.00","11,229.00"
4,76.00,"1,171.88","2,442.64",0.00,0.00,0.00,"1,789.50","15,342.00"
5,34.00,772.85,"1,432.96",0.00,0.00,0.00,"1,001.50","5,655.00"
6,73.00,738.82,"1,369.21",0.00,0.00,0.00,"1,194.00","5,128.00"
7,11.00,872.09,"1,248.45",0.00,0.00,0.00,"1,943.50","3,012.00"
8,7.00,555.29,958.44,0.00,0.00,0.00,851.50,"2,184.00"
9,12.00,806.00,"1,223.88",0.00,0.00,0.00,"2,128.00","3,232.00"
10,7.00,"2,042.14","1,538.80",0.00,"1,000.00","2,000.00","3,344.50","3,606.00"
11,4.00,"1,072.25","1,339.33",0.00,0.00,759.50,"1,831.75","2,770.00"
12,11.00,"3,232.64","4,573.99",0.00,0.00,0.00,"5,832.50","13,873.00"
13,4.00,"4,371.75","3,521.09","1,824.00","2,094.00","3,106.00","5,383.75","9,451.00"
14,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,4.00,"2,106.25","1,499.49",0.00,"1,638.00","2,477.00","2,945.25","3,471.00"
16,1.00,"7,543.00",nan,"7,543.00","7,543.00","7,543.00","7,543.00","7,543.00"
17,1.00,"8,451.00",nan,"8,451.00","8,451.00","8,451.00","8,451.00","8,451.00"
18,2.00,"2,184.00","3,088.64",0.00,"1,092.00","2,184.00","3,276.00","4,368.00"
20,1.00,"5,651.00",nan,"5,651.00","5,651.00","5,651.00","5,651.00","5,651.00"
21,1.00,"6,503.00",nan,"6,503.00","6,503.00","6,503.00","6,503.00","6,503.00"
23,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,1.00,0.00,nan,0.00,0.00,0.00,0.00,0.00
30,1.00,"45,964.00",nan,"45,964.00","45,964.00","45,964.00","45,964.00","45,964.00"
31,1.00,"9,662.00",nan,"9,662.00","9,662.00","9,662.00","9,662.00","9,662.00"
35,1.00,"11,463.00",nan,"11,463.00","11,463.00","11,463.00","11,463.00","11,463.00"
36,1.00,"3,862.00",nan,"3,862.00","3,862.00","3,862.00","3,862.00","3,862.00"
37,1.00,"2,078.00",nan,"2,078.00","2,078.00","2,078.00","2,078.00","2,078.00"
39,1.00,"2,184.00",nan,"2,184.00","2,184.00","2,184.00","2,184.00","2,184.00"
40,1.00,"20,429.00",nan,"20,429.00","20,429.00","20,429.00","20,429.00","20,429.00"
44,1.00,"8,454.00",nan,"8,454.00","8,454.00","8,454.00","8,454.00","8,454.00"
48,1.00,"12,987.00",nan,"12,987.00","12,987.00","12,987.00","12,987.00","12,987.00"
51,1.00,0.00,nan,0.00,0.00,0.00,0.00,0.00
58,1.00,"22,713.00",nan,"22,713.00","22,713.00","22,713.00","22,713.00","22,713.00"
72,2.00,"92,619.50","62,079.03","48,723.00","70,671.25","92,619.50","114,567.75","136,516.00"
84,1.00,"4,368.00",nan,"4,368.00","4,368.00","4,368.00","4,368.00","4,368.00"
96,1.00,"17,870.00",nan,"17,870.00","17,870.00","17,870.00","17,870.00","17,870.00"
151,1.00,"20,898.00",nan,"20,898.00","20,898.00","20,898.00","20,898.00","20,898.00"
164,1.00,"20,250.00",nan,"20,250.00","20,250.00","20,250.00","20,250.00","20,250.00"
170,1.00,"12,963.00",nan,"12,963.00","12,963.00","12,963.00","12,963.00","12,963.00"
178,1.00,"42,244.00",nan,"42,244.00","42,244.00","42,244.00","42,244.00","42,244.00"
180,1.00,"19,647.00",nan,"19,647.00","19,647.00","19,647.00","19,647.00","19,647.00"

In [5]:
# download MOHCD Affordable Rental Portfolio
mohcd_url = "https://data.sfgov.org/resource/9rdx-httc.csv"
mohcd = pd.read_csv(mohcd_url)
mohcd.head()

,project_id,project_name,street_number,street_name,street_type,project_address,neighborhood,supervisor_district,project_sponsor,total_units,...,location,:@computed_region_6qbp_sg9q,:@computed_region_qgnn_b9vv,:@computed_region_26cr_cadq,:@computed_region_ajp5_b2md,:@computed_region_fyvs_ahh9,:@computed_region_bh8s_q3mv,:@computed_region_yftq_j783,:@computed_region_p5aj_wyqh,:@computed_region_rxqg_mtj9
0,1969-001,Martin Luther King-Marcus Garvey Square Cooper...,1680,Eddy,St,94115,Western Addition,5,Martin Luther King-Marcus Garvey Square Cooper...,211,...,POINT (-122.43486019999999 37.78),97.0,4.0,11.0,39.0,41.0,29490.0,15.0,5.0,11.0
1,1970-001,Ridgeview Terrace Apartments,140,Cashmere,St,94124,Bayview Hunters Point,10,"Ridgeview Terrace Affordable Housing, Inc.",101,...,POINT (-122.3846893 37.74),86.0,2.0,9.0,1.0,1.0,58.0,10.0,3.0,8.0
2,1972-001,Sutter Apartments,1480,Sutter,St,94109,Western Addition,2,"Sutter Gough, LP",67,...,POINT (-122.4247513 37.79),102.0,4.0,6.0,39.0,41.0,28858.0,13.0,9.0,1.0
3,1973-001,Nihonmachi Terrace,1615,Sutter,St,94109,Japantown,5,Japanese American Religious Federation,245,...,POINT (-122.426796 37.79),102.0,4.0,6.0,30.0,27.0,28858.0,13.0,9.0,1.0
4,1980-001,Consorcia Apartments,1204,Mason,St,94133,Chinatown,3,Chinatown Community Development Center,24,...,POINT (-122.4112015 37.79),50.0,6.0,3.0,21.0,21.0,28857.0,5.0,1.0,10.0

In [5]:
# download Zoning District Data
zoning_url = "https://data.sfgov.org/resource/yamn-gsa8.csv"
zoning = pd.read_csv(zoning_url)
zoning.head()

,the_geom,objectid,zoning_sim,districtname,url,gen,zoning,codesection,shape_length,shape_area,commercial_hours_of_operation
0,"MULTIPOLYGON (((-122.430526834 37.722469476, -...",19300,RH-2,"RESIDENTIAL- HOUSE, TWO FAMILY",https://codelibrary.amlegal.com/codes/san_fran...,Residential,RH-2,209.1,0.009195,2.030783e-06,6:00AM-10:00PM
1,"MULTIPOLYGON (((-122.438509606 37.721232545, -...",20263,P,PUBLIC,https://codelibrary.amlegal.com/codes/san_fran...,Public,P,211,0.001303,1.042228e-07,Unrestricted
2,"MULTIPOLYGON (((-122.435249516 37.763363106, -...",19971,RM-1,"RESIDENTIAL- MIXED, LOW DENSITY",https://codelibrary.amlegal.com/codes/san_fran...,Residential,RM-1,209.2,0.003016,5.019779e-07,6:00AM-10:00PM
3,"MULTIPOLYGON (((-122.414154717 37.775113424, -...",20472,RED-MX,RESIDENTIAL ENCLAVE-MIXED,https://codelibrary.amlegal.com/codes/san_fran...,Mixed Use,RED-MX,847,0.002518,3.563539e-07,Unrestricted
4,"MULTIPOLYGON (((-122.419818481 37.754952718, -...",20205,P,PUBLIC,https://codelibrary.amlegal.com/codes/san_fran...,Public,P,211,0.003926,7.205657e-07,Unrestricted